<a href="https://colab.research.google.com/github/GeekDM/Data-Analysis/blob/main/Data%20analysis%20by%20studying%20alone/Data_Update.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Update

In [45]:
import pandas as pd
ns_book4 = pd.read_csv('/ns_book4.csv', low_memory=False)
ns_book4.head()

,Unnamed: 0,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,0,1,一千?? =a thousand blue,[?]千先? 著 ;胡椒筒 ?,時報,2023,9786263538610,NaN,NaN,NaN,813.7,1,0,2024-12-19
1,1,2,地球??的?室,[?]金草? 著 ;胡椒筒 ?,廣東花城出版社有限公司,2023,9787536099760,NaN,NaN,NaN,813.7,1,0,2024-12-19
2,2,3,"ボンジュ?ル,トゥ?ル",ハンユンソブ 著 ;キムジナ ? ;?華順 ?,影書房,2024,9784877144999,NaN,NaN,NaN,813.8,1,0,2024-12-19
3,3,4,明るい夜,チェ·ウニョン 著 ;古川綾子 ?,?紀書房,2023,9784750517803,NaN,NaN,NaN,813.7,1,0,2024-12-19
4,4,5,はちどり =House of Hummingbird :1994年、閉ざされることのない記憶...,キム·ボラ 著 ;根本理? ?,オ?クラ出版,2023,9784775530115,NaN,NaN,NaN,812,1,0,2024-12-19

### 데이터프레임 정보 요약 확인

- **info() 메서드**는 데이터프레임의 정보를 요약해서 출력한다.

In [ ]:
ns_book4.info()

In [ ]:
ns_book4.info(memory_usage='deep')

### 누락된 값 처리

- **isna() 메서드**는 값이 누락된 행을 확인할 수 있다.
- 불리언 배열로 반환한다.
- 판다스 데이터프레임에서는 정수를 저장하는 열에 파이썬의 None을 입력하면 누락된 값으로 인식한다.
- 판다스는 NaN을 특별한 실수 값으로 저장한다.<br>
\> 원래 데이터 타입이 int64였던 '도서권수' 열이 NaN을 표시하기 위해 float64로 자동 변환된다.
- 데이터 타입을 지정할 때 **astype() 메서드**를 사용한다.
- astype() 메서드는 열과 바꾸려는 데이터 타입을 파이썬 딕셔너리로 전달한다.<br>
또한 기본적으로 새로운 데이터프레임을 반환한다.
- 데이터 타입에 상관없이 데이터프레임 셀 값을 NaN으로 표시하려면 넘파이의 np.nan을 사용하면 된다.

In [ ]:
ns_book4.isna().sum()

In [ ]:
ns_book4.loc[0, '도서권수'] = None
ns_book4['도서권수'].isna().sum()

In [ ]:
ns_book4.head(2)

In [ ]:
ns_book4.loc[0, '도서권수'] = 1
ns_book4 = ns_book4.astype({'도서권수': 'int32', '대출건수': 'int32'})
ns_book4.head(2)

In [ ]:
ns_book4.loc[0, '부가기호'] = None
ns_book4.head(2)

In [ ]:
import numpy as np
ns_book4.loc[0, '부가기호'] = np.nan
ns_book4.head(2)

In [ ]:
set_isbn_na_rows = ns_book4['세트 ISBN'].isna() # 누락된 값을 찾아 불리언 배열로 반환한다.
ns_book4.loc[set_isbn_na_rows, '세트 ISBN'] = ''  # 누락된 값을 빈 문자열로 바꾼다.
ns_book4['세트 ISBN'].isna().sum()  # 누락된 값이 몇 개인지 센다.

In [ ]:
ns_book4.fillna('없음').isna().sum()

In [ ]:
ns_book4['부가기호'].fillna('없음').isna().sum()

In [ ]:
ns_book4.fillna({'부가기호': '없음'}).isna().sum()

In [ ]:
ns_book4.replace(np.nan, '없음').isna().sum()

In [ ]:
ns_book4.replace([np.nan, '2023'], ['없음', '23']).head(2)

In [ ]:
ns_book4.replace({np.nan: '없음', '2023': '23'}).head(2)

In [ ]:
ns_book4.replace({'부가기호': np.nan}, '없음').head(2)

In [ ]:
ns_book4.replace({'부가기호': {np.nan: '없음'}, '발행년도': {'2023': '23'}}).head(2)

- **loc() 메서드**를 사용하면 누락된 값을 원하는 값으로 바꿀 수 있다.
- 더 편리한 방법은 fillna() 메서드를 사용하면 된다.
- **fillna() 메서드**에 원하는 값을 전달하면 NaN을 대체할 수 있다.
- **replac() 메서드**는 NaN을 포함한 어떤 값도 바꿀 수 있다.

### 정규 표현식

- **정규 표현식** 또는 줄여서 **정규식**은 문자열 패턴을 찾아서 대체하기 위한 규칙의 모음이다.
- 정규식 앞에 붙이는 **r 문자**는 파이썬에서 정규식을 다른 문자열과 구분하기 위해 접두사 처럼 붙인다.
- 정규식이 반복될 경우 일일이 쓰는 대신 **중괄호**를 사용하여 개수를 지정할 수 있다.
- 어떤 문자에도 대응하는 정규식 문자는 **마침표(.)**다.
- **\*문자**를 사용하여 0개 이상 반복된다고 표시할 수 있다.
- 정규식에서 일반 문자라고 인식하게 하려면 **역슬래시(\)**를 앞에 붙여야 한다.

In [ ]:
ns_book4.replace({'발행년도': {'2023': '23'}})[140:142]

- 정규식애서 숫자를 나타내는 기호는 \d다.
- 네 자리는 \d\d\d\d다.
- 뒤의 두 자리만 하나의 그룹으로 묶을 때는 \d\d(\d\d)처럼 쓴다.

In [ ]:
ns_book4.replace({'발행년도': {r'\d\d(\d\d)': r'\1'}}, regex=True)[140:142] # r'\1' -> 패턴 안에 있는 첫 번째 그룹으로 바꾼다.

In [ ]:
ns_book4.replace({'발행년도': {r'\d{2}(\d{2})': r'\1'}}, regex=True)[140:142]

In [ ]:
ns_book4.replace({'저자': {r'(.*)지은이\:(.*)\s\;일러스트\:': r'\1\2'}, '발행년도': {r'\d{2}(\d{2})': r'\1'}}, regex=True)[140:142]

### 잘못된 값 바꾸기

In [ ]:
ns_book4.astype({'발행년도': 'int32'})

- '2016(2024년 12쇄)'라는 연도를  변환할 수 없어 오류가 발생했다.
- 판다스 시리즈 객체는 str 속성 아래 다양한 문자열 처리 함수를 제공한다.
- **contains()메서드**는 시리즈나 인덱스에서 문자열 패턴을 포함하고 있는지 검사한다.

In [ ]:
ns_book4['발행년도'].str.contains('2016').sum()

In [ ]:
invalid_number=ns_book4['발행년도'].str.contains('\D', na=True)
print(invalid_number.sum())  # 숫자 이외의 문자가 들어간 행의 개수를 출력
ns_book4[invalid_number].head()

In [ ]:
ns_book5 = ns_book4.replace({'발행년도':r'.*(\d{4}).*'}, r'\1', regex=True)
ns_book5[invalid_number].head()

In [ ]:
unkown_year = ns_book5['발행년도'].str.contains('\D', na=True)
print(unkown_year.sum())
ns_book5[unkown_year].head()

In [ ]:
ns_book5.loc[unkown_year, '발행년도'] = '-1'
ns_book5 = ns_book5.astype({'발행년도': 'int32'})

|메서드|부등호|내용|
|-:-|-:-|-:-|
|gt()|>|지정된 값보다 큰 값을 검사한다.|
|ge()|>=|지정된 값보다 크거나 같은 값을 검사한다.|
|lt()|<|지정된 값보다 작은 값을 검사한다.|
|le()|<=|지정된 값보다 작거나 같은 값을 검사한다.|
|eq()|==|지정된 값과 같은 값을 검사한다.|
|ne()|!=|지정된 값과 같지 않은 값을 검사한다.|

In [ ]:
ns_book5['발행년도'].gt(4000).sum() # 4000보다 큰 값의 개수를 센다.

In [ ]:
dangun_yy_rows = ns_book5['발행년도'].gt(4000)  # 4000보다 큰 값을 찾는다.
ns_book5.loc[dangun_yy_rows, '발행년도'] = ns_book5.loc[dangun_yy_rows, '발행년도'] - 2333  # 찾은 값에서 2333을 빼서 서기로 바꾼다.
dangun_year = ns_book5['발행년도'].gt(4000)  # 다시 4000보다 큰 값을 찾는다.
print(dangun_year.sum())
ns_book5[dangun_year].head()

In [ ]:
ns_book5.loc[dangun_year, '발행년도'] = -1

In [ ]:
old_books = ns_book5['발행년도'].gt(0) & ns_book5['발행년도'].lt(1900)
ns_book5[old_books]

In [ ]:
ns_book5.loc[old_books, '발행년도'] = -1
ns_book5['발행년도'].eq(-1).sum() # -1과 같은 값이 몇 개인지 센다.

### 누락된 정보 채우기

In [ ]:
na_rows = ns_book5['도서명'].isna()  | ns_book5['저자'].isna() | ns_book5['출판사'].isna() | ns_book5['발행년도'].eq(-1)
print(na_rows.sum())
ns_book5[na_rows]

In [ ]:
import requests
from bs4 import BeautifulSoup

In [ ]:
def get_book_title(isbn):
  # Yes24 도서 검색 페이지 URL
  url = 'https://www.yes24.com/Product/Search?domain=BOOK&query={}'

  # URL에 ISBN을 넣어 HTML을 가져온다.
  r = requests.get(url.format(isbn))
  soup = BeautifulSoup(r.text, 'html.parser') # HTML 파싱

  # 클래스 이름이 'gd_name인 <a> 태그의 텍스트를 가져온다
  title = soup.find('a', attrs={'class':'gd_name'}).get_text()
  return title

In [ ]:
get_book_title(9791160711899)

In [ ]:
import re

def get_book_info(row):
  title = row['도서명']
  author = row['저자']
  pub = row['출판사']
  year = ['발행년도']

  # Yes24 도서 검색 페이지 URL
  url = 'https://www.yes24.com/Product/Search?domain=BOOK&query={}'

  # URL에 ISBN을 넣어 HTML을 가져온다.
  r= requests.get(url.format(row['ISBN']))
  soup = BeautifulSoup(r.text, 'html.parser') # HTML 파싱
  try:
    if pd.isna(title):

      # 클래스 이름이 'gd_name'인 <a> 태그의 텍스트를 가져온다.
      title = soup.find('a', attrs={'class':'gd_name'}).get_text()

  except AttributeError:
    pass

  try:
    if pd.isna(author):

      # 클래스 이름이 'info_auth'인 <span> 태그 아래 <a> 태그의 텍스트를 가져온다.
      authors = soup.find('span', attrs={'class':'info_auth'}).find_all('a')
      author_list = [auth.get_text() for auth in authors]
      author = ','.join(author_list)

  except AttributeError:
    pass

  try:
    if pd.isna(pub):

      # 클래스 이름이 'info_pub' 인 <span> 태그 아래 <a> 태그의 텍스트를 가져온다.
      pub = soup.find('span', attrs={'class':'info_pub'}).find('a').get_text()

  except AttributeError:
    pass

  try:
    if year == -1:
      #클래스 이름이 'info_date' 인 <span> 태그 아래 텍스트를 가져온다.
      year_str = soup.find('span', attrs={'class':'info_date'}).get_text()

      # 정규 표현식으로 찾은 값 중에 첫 번째 것만 사용한다.
      year = re.findall(r'\d{4}', year_str)[0]

  except AttributeError:
    pass

  return title, author, pub, year

In [47]:
update_sample = ns_book5[na_rows].head().apply(get_book_info, axis=1, result_type = 'expand')
update_sample

                   0                       1   2       3
7              小さな町            ソン?ボミ ;橋本智保 ? NaN  [발행년도]
20              ?人家   [?]?元平 著 ;???,?君峰 [共]? NaN  [발행년도]
28            空間の未?           兪炫準 著 ;オスンヨン ? NaN  [발행년도]
31       朝鮮時代ソウル都市史    高東煥 著 ;野崎充彦,金子祐樹[共] ? NaN  [발행년도]
49  (影印) 韓國古典叢刊 :傳記類             韓國古典飜譯院 [편] NaN  [발행년도]

In [ ]:
update_sample = ns_book5[na_rows].apply(get_book_info, axis=1, result_type = 'expand')
update_sample

In [ ]:
update_sample.to_csv('ns_book5_update.csv', index=False)

In [ ]:
ns_book5_update = pd.read_csv('ns_book5_update.csv', index_col=0)
ns_book5_update.head()

In [ ]:
ns_book5.update(ns_book_update)
na_rows = ns_book5['도서명'].isna() | ns_book5['저자'].isna() | ns_book5['출판사'].isna() | ns_book5['발행년도'].eq(-1)
print(na_rows.sum())